
*{
    font-family: Lato;
}
.inicio{
    display: flex; 
    justify-content: space-between
}
.nome{
    width: 119.69;
    height: 31px;
    top: 1018;
    left: 52px;
    
}
.barra{
    width: 138.09px;
    height: 23.78px;
    top: 36px;
    left: 1231px;
    margin-top: 7px;
    cursor: pointer;
}
.banner{   
width: 100%;
height: auto;
top: 95px;
margin-top: 10px;
margin-right: 10px;
}

section{
    display: flex;
    justify-content: space-between;
}

.main{
    margin-left: 10px;

}

.fig{
    margin-top: 20px;
}

.figr{
    margin-top: 10px;
    color: green;
    text-decoration: underline dotted;
}

.button1{
    margin-top: 10px;
    background-color: green;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
}

.button1:hover{
    background-color: #512200;
}

.imagem{
margin-top: 30px;
transition: 0.5s;
cursor: pointer;
height: 393px;
@media screen {orientation: portrait; width: 50px;
    height: 25px;
    
}
    
}


.imagem:hover{
    transform: scale(1.1);
}

.secmain{
display: inline-flexbox;
}

.div2{
    margin-top: 20px;
}

.secfooter{
border-top: 0.6px solid #a5a1a1;
border-bottom: 0.2px solid #a5a1a1;;
margin-top: 20px;
}

.buttonin{
    color: white;
    border: none;
    border-radius: 2px;
    background-color: green;
    width: 85px;
    height: 24px;
    cursor: pointer;

}
.input{
   height: 19px; 
   color: #A8A4A4;
   ;   
}

.divtex{
    cursor: pointer;

}

.secfinal{
margin-top: 30px;
}

.insface{
    width: 87.08px;
    height: 33.5px;
    cursor: pointer;
}